@import url(https://fonts.googleapis.com/css?family=Poppins:regular&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-camera:before {
  content: "\e900";
}

._icon-chill:before {
  content: "\e901";
}

._icon-clock:before {
  content: "\e902";
}

._icon-facebook:before {
  content: "\e903";
}

._icon-hill:before {
  content: "\e904";
}

._icon-instagram:before {
  content: "\e905";
}

._icon-iso:before {
  content: "\e906";
}

._icon-location:before {
  content: "\e907";
}

._icon-logo:before {
  content: "\e908";
}

._icon-rik:before {
  content: "\e909";
}

._icon-stock:before {
  content: "\e90a";
}

._icon-studio:before {
  content: "\e90b";
}

._icon-twitter:before {
  content: "\e90c";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #C0C0C0;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 79.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button-main {
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.025rem;
  color: #000000;
  background: #FFFFFF;
  border-radius: 14px;
  padding: 0.625rem 1.25rem 0.75rem 1.25rem;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border-radius: 14px;
  padding: 0.3125rem 0 0.3125rem 0.25rem;
}

.button svg {
  margin-right: 0.375rem;
}

.button p {
  padding-right: 0.625rem;
  font-size: 0.9375rem;
  line-height: 1.3333333333;
  letter-spacing: 0.4px;
  color: #000000;
}

.text-block__label {
  line-height: 1.4285714286;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.text-block__title {
  font-size: 3.375rem;
  line-height: 1.0925925926;
  color: #FFFFFF;
}

.text-block__subtitle {
  line-height: 1.4285714286;
}

.description {
  padding: 0 1.875rem 1.875rem 1.875rem;
}

.description__title {
  line-height: 1.4285714286;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0.75rem;
}

.description__text {
  line-height: 1.4285714286;
  margin-bottom: 0.4375rem;
}

.photo-title :not(:last-child) {
  margin-bottom: 0.9375rem;
}

.photo-title__title {
  font-size: 2.5rem;
  line-height: 1.05;
  text-align: center;
  color: #FFFFFF;
}

.photo-title__subtitle {
  font-size: 1.4375rem;
  line-height: 1.3043478261;
  text-align: center;
}

.photo {
  position: relative;
}

.photo__description {
  margin-top: 1rem;
}

.image {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nature-label__title {
  line-height: 1.4285714286;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.nature-label__text {
  line-height: 1.4285714286;
}

.block__label {
  line-height: 1.4285714286;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.block__title {
  font-size: 1.75rem;
  line-height: 1.1428571429;
  color: #FFFFFF;
}

.block__subtitle {
  line-height: 1.4285714286;
  color: #FFFFFF;
}

.header {
  background: #181818;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40.9448818898%;
          flex: 0 1 40.9448818898%;
}

@supports (margin-left: clamp( 2rem , -0.1717908692rem  +  4.5246821411vw , 3.25rem )) {
  .header__logo {
    margin-left: clamp( 2rem , -0.1717908692rem  +  4.5246821411vw , 3.25rem );
  }
}

@supports not (margin-left: clamp( 2rem , -0.1717908692rem  +  4.5246821411vw , 3.25rem )) {
  .header__logo {
    margin-left: calc(2rem + 1.25 * (100vw - 47.99875rem) / 27.62625);
  }
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38.8976377953%;
          flex: 0 0 38.8976377953%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__button {
  margin-left: 2rem;
}

._icon-logo {
  font-size: 1.9375rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  font-size: 0.9375rem;
  line-height: 1.3333333333;
}

@supports (margin-right: clamp( 0.0000000625rem , -0.6530611416rem  +  3.2653060204vw , 2rem )) {
  .menu__item:not(:last-child) {
    margin-right: clamp( 0.0000000625rem , -0.6530611416rem  +  3.2653060204vw , 2rem );
  }
}

@supports not (margin-right: clamp( 0.0000000625rem , -0.6530611416rem  +  3.2653060204vw , 2rem )) {
  .menu__item:not(:last-child) {
    margin-right: calc(0.0000000625rem + 1.9999999375 * (100vw - 20rem) / 61.25);
  }
}

.menu__item:first-child {
  font-size: 0.8125rem;
}

@supports (margin-right: clamp( 0.0000000625rem , -0.6530611416rem  +  3.2653060204vw , 2rem )) {
  .menu__item:first-child {
    margin-right: clamp( 0.0000000625rem , -0.6530611416rem  +  3.2653060204vw , 2rem );
  }
}

@supports not (margin-right: clamp( 0.0000000625rem , -0.6530611416rem  +  3.2653060204vw , 2rem )) {
  .menu__item:first-child {
    margin-right: calc(0.0000000625rem + 1.9999999375 * (100vw - 20rem) / 61.25);
  }
}

.menu-open .menu__body {
  top: 0;
  text-align: center;
  overflow: auto;
  padding: 9.375rem 0;
}

.menu-open .menu__body ::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.375rem;
  background: #000;
}

.menu-open .menu__list {
  display: block;
}

.menu-open .menu__item {
  font-size: 2.5rem;
  margin: 0 0 2rem 0;
}

.icon-menu {
  display: none;
}

.footer {
  background: #000;
}

.footer__container {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.25rem;
}

.footer__slogan {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.footer__logo {
  color: #fff;
}

.footer__label {
  font-size: 0.8125rem;
  line-height: 1.5384615385;
}

.footer__menus {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__subscribe {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 2.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__down {
  padding-top: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  margin-bottom: 0.75rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-footer__title {
  line-height: 1.4285714286;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}

.menu-footer__list :not(:last-child) {
  margin-bottom: 0.625rem;
}

.menu-footer__item {
  line-height: 1.4285714286;
  color: #FFFFFF;
}

.subscribe__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55.1181102362%;
          flex: 0 1 55.1181102362%;
}

.subscribe__title {
  line-height: 1.4285714286;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 1.25rem;
}

.subscribe__text {
  font-size: 0.8125rem;
  line-height: 1.5384615385;
}

.subscribe__email {
  position: relative;
}

.email__input {
  height: 3.25rem;
  background: #F9FAFB;
  border-radius: 12px;
}

@supports (width: clamp( 17.5rem , 13.8673469388rem  +  18.1632653061vw , 28.625rem )) {
  .email__input {
    width: clamp( 17.5rem , 13.8673469388rem  +  18.1632653061vw , 28.625rem );
  }
}

@supports not (width: clamp( 17.5rem , 13.8673469388rem  +  18.1632653061vw , 28.625rem )) {
  .email__input {
    width: calc(17.5rem + 11.125 * (100vw - 20rem) / 61.25);
  }
}

.email__button {
  position: absolute;
  top: 0.6875rem;
  right: 0.375rem;
  width: 3.9375rem;
  height: 1.875rem;
  background: #000000;
  border-radius: 11px;
}

.social__icon {
  font-size: 1.5rem;
}

.social__icon:not(:last-child) {
  margin-right: 1.25rem;
}

.no-webp .studios{
  background: url("../img/main.png") no-repeat center; }

.studios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-size: cover;
}

.studios__container {
  padding-bottom: 3.75rem;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

@supports (padding-top: clamp( 15.625rem , 11.7474489796rem  +  19.387755102vw , 27.5rem )) {
  .studios__container {
    padding-top: clamp( 15.625rem , 11.7474489796rem  +  19.387755102vw , 27.5rem );
  }
}

@supports not (padding-top: clamp( 15.625rem , 11.7474489796rem  +  19.387755102vw , 27.5rem )) {
  .studios__container {
    padding-top: calc(15.625rem + 11.875 * (100vw - 20rem) / 61.25);
  }
}

.studios__text-block {
  margin: 0 auto;
  text-align: center;
}

.studios__text-block:not(:last-child) {
  margin-bottom: 0.625rem;
}

.photo-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 2.5rem;
  right: 0;
  padding-right: 0.625rem;
}

@supports (margin-left: clamp( -3.75rem , 2.0535714286rem  +  -7.1428571429vw , 0.625rem )) {
  .photo-label {
    margin-left: clamp( -3.75rem , 2.0535714286rem  +  -7.1428571429vw , 0.625rem );
  }
}

@supports not (margin-left: clamp( -3.75rem , 2.0535714286rem  +  -7.1428571429vw , 0.625rem )) {
  .photo-label {
    margin-left: calc(0.625rem + -4.375 * (100vw - 20rem) / 61.25);
  }
}

.icon {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon:not(:last-child) {
  margin-right: 1rem;
}

.icon__text {
  font-size: 0.75rem;
  line-height: 1;
  color: #FFFFFF;
  margin-left: 0.375rem;
}

.what-we-do {
  background: #000;
}

.what-we-do__container {
  padding-top: 6.875rem;
  padding-bottom: 6.25rem;
}

.what-we-do__photo-title {
  margin-bottom: 2.625rem;
}

.what-we-do__photo-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.no-webp .fuji{
  background: url("../img/fuji.png") no-repeat center; }

.fuji {
  background-size: cover;
}

.fuji__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@supports (min-height: clamp( 25rem , 20.9183673469rem  +  20.4081632653vw , 37.5rem )) {
  .fuji__container {
    min-height: clamp( 25rem , 20.9183673469rem  +  20.4081632653vw , 37.5rem );
  }
}

@supports not (min-height: clamp( 25rem , 20.9183673469rem  +  20.4081632653vw , 37.5rem )) {
  .fuji__container {
    min-height: calc(25rem + 12.5 * (100vw - 20rem) / 61.25);
  }
}

@supports (max-width: clamp( 16.5625rem , 21.1224489796rem  +  -5.612244898vw , 20rem )) {
  .fuji__nature-label {
    max-width: clamp( 16.5625rem , 21.1224489796rem  +  -5.612244898vw , 20rem );
  }
}

@supports not (max-width: clamp( 16.5625rem , 21.1224489796rem  +  -5.612244898vw , 20rem )) {
  .fuji__nature-label {
    max-width: calc(20rem + -3.4375 * (100vw - 20rem) / 61.25);
  }
}

.no-webp .tools{
  background: url("../img/tools.png") right no-repeat, #000; }

.tools__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@supports (min-height: clamp( 25rem , 22.1428571429rem  +  14.2857142857vw , 33.75rem )) {
  .tools__container {
    min-height: clamp( 25rem , 22.1428571429rem  +  14.2857142857vw , 33.75rem );
  }
}

@supports not (min-height: clamp( 25rem , 22.1428571429rem  +  14.2857142857vw , 33.75rem )) {
  .tools__container {
    min-height: calc(25rem + 8.75 * (100vw - 20rem) / 61.25);
  }
}

.tools__block {
  max-width: 32.125rem;
}

.no-webp .monstera{
  background: url("../img/monstera.png") no-repeat center; }

.monstera {
  background-size: cover;
}

.monstera__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@supports (min-height: clamp( 25rem , 20.9183673469rem  +  20.4081632653vw , 37.5rem )) {
  .monstera__container {
    min-height: clamp( 25rem , 20.9183673469rem  +  20.4081632653vw , 37.5rem );
  }
}

@supports not (min-height: clamp( 25rem , 20.9183673469rem  +  20.4081632653vw , 37.5rem )) {
  .monstera__container {
    min-height: calc(25rem + 12.5 * (100vw - 20rem) / 61.25);
  }
}

@supports (max-width: clamp( 16.5625rem , 21.1224489796rem  +  -5.612244898vw , 20rem )) {
  .monstera__nature-label {
    max-width: clamp( 16.5625rem , 21.1224489796rem  +  -5.612244898vw , 20rem );
  }
}

@supports not (max-width: clamp( 16.5625rem , 21.1224489796rem  +  -5.612244898vw , 20rem )) {
  .monstera__nature-label {
    max-width: calc(20rem + -3.4375 * (100vw - 20rem) / 61.25);
  }
}

.clients {
  background: #000;
}

.clients__container {
  padding-top: 7.5rem;
  padding-bottom: 6.25rem;
}

.clients__photo-title {
  margin-bottom: 5rem;
}

.clients__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (gap: clamp( 1.875rem , 0.262755102rem  +  8.0612244898vw , 6.8125rem )) {
  .clients__icons {
    gap: clamp( 1.875rem , 0.262755102rem  +  8.0612244898vw , 6.8125rem );
  }
}

@supports not (gap: clamp( 1.875rem , 0.262755102rem  +  8.0612244898vw , 6.8125rem )) {
  .clients__icons {
    gap: calc(1.875rem + 4.9375 * (100vw - 20rem) / 61.25);
  }
}

.clients__icon {
  font-size: 1.875rem;
  color: #fff;
}

.clients__icon:nth-child(2) {
  font-size: 5rem;
}

.clients__icon:nth-child(3) {
  font-size: 1.25rem;
}

.no-webp .himalayas{
  background: url("../img/himalayas.png") no-repeat center; }

.himalayas {
  background-size: cover;
}

.himalayas__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@supports (min-height: clamp( 25rem , 20.9183673469rem  +  20.4081632653vw , 37.5rem )) {
  .himalayas__container {
    min-height: clamp( 25rem , 20.9183673469rem  +  20.4081632653vw , 37.5rem );
  }
}

@supports not (min-height: clamp( 25rem , 20.9183673469rem  +  20.4081632653vw , 37.5rem )) {
  .himalayas__container {
    min-height: calc(25rem + 12.5 * (100vw - 20rem) / 61.25);
  }
}

@supports (max-width: clamp( 16.5625rem , 21.1224489796rem  +  -5.612244898vw , 20rem )) {
  .himalayas__nature-label {
    max-width: clamp( 16.5625rem , 21.1224489796rem  +  -5.612244898vw , 20rem );
  }
}

@supports not (max-width: clamp( 16.5625rem , 21.1224489796rem  +  -5.612244898vw , 20rem )) {
  .himalayas__nature-label {
    max-width: calc(20rem + -3.4375 * (100vw - 20rem) / 61.25);
  }
}

.help {
  background: #000;
}

.help__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.help__photo-title {
  max-width: 35.625rem;
  margin-bottom: 0.75rem;
}

body::-webkit-scrollbar {
  width: 0.375rem;
}

body::-webkit-scrollbar-track {
  background: #8e8e8e;
}

body::-webkit-scrollbar-thumb {
  background-color: #181818;
  border-radius: 20px;
}

@media (min-width: 37.5em) {
  .studios__text-block {
    max-width: 37.5rem;
  }
}

@media (min-width: 75.625em) {
  .header__logo {
    margin-left: inherit;
  }
}

@media (min-width: 30em) {
  .photo__description {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: 30em) {
  .header__button {
    margin: 0;
    font-size: 2rem;
  }
}

@media (max-width: 20em) {
  .fuji__nature-label {
    text-align: center;
  }

  .monstera__nature-label {
    text-align: center;
  }

  .himalayas__nature-label {
    text-align: center;
  }
}

@media (max-width: 75.625em) {
  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 61.99875em) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__logo {
    margin-left: inherit;
  }

  .header__logo {
    margin-left: 2rem;
  }

  .header__menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }

  .header__button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .menu__body {
    position: fixed;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 4;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__slogan {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .footer__subscribe {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__copyright {
    text-align: center;
  }

  .subscribe__label {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .fuji__container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .fuji__nature-label {
    margin-bottom: 4.6875rem;
  }

  .tools__container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .tools__container {
    padding-bottom: 4.375rem;
  }

  .monstera__container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .monstera__nature-label {
    margin-bottom: 4.6875rem;
  }

  .himalayas__container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .himalayas__nature-label {
    margin-bottom: 4.6875rem;
  }
}

@media (max-width: 29.99875em) {
  .help__photo-title .photo-title__title {
    font-size: 2rem;
  }
}

.webp .studios{ background: url(../img/main.webp) no-repeat center; }

.webp .fuji{ background: url(../img/fuji.webp) no-repeat center; }

.webp .tools{ background: url(../img/tools.webp) right no-repeat, #000; }

.webp .monstera{ background: url(../img/monstera.webp) no-repeat center; }

.webp .himalayas{ background: url(../img/himalayas.webp) no-repeat center; }